Flow 1.json
[{"id":"889ed6e9.b955c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ff84c9ee.d49508","type":"http in","z":"889ed6e9.b955c8","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":130,"y":200,"wires":[["9de3071b.fd8948"]]},{"id":"a307177b.a82cc8","type":"rpi-gpio in","z":"889ed6e9.b955c8","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":150,"y":420,"wires":[["9d39d16c.2a7c6"]]},{"id":"9d39d16c.2a7c6","type":"function","z":"889ed6e9.b955c8","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["b8642d23.8e74"]]},{"id":"9de3071b.fd8948","type":"function","z":"889ed6e9.b955c8","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["b8642d23.8e74","19e6166a.a1ae1a"]]},{"id":"b8642d23.8e74","type":"debug","z":"889ed6e9.b955c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":300,"wires":[]},{"id":"19e6166a.a1ae1a","type":"http response","z":"889ed6e9.b955c8","name":"","statusCode":"","headers":{},"x":540,"y":200,"wires":[]}]