Flow 2.json
[{"id":"37cf056d.820faa","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"71839521.f8366c","type":"http in","z":"37cf056d.820faa","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":220,"wires":[["79af982e.5d6bd8","63913a80.3b4134"]]},{"id":"79af982e.5d6bd8","type":"function","z":"37cf056d.820faa","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["ec165390.7c4a9"]]},{"id":"ec165390.7c4a9","type":"rpi-gpio out","z":"37cf056d.820faa","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":460,"y":320,"wires":[]},{"id":"63913a80.3b4134","type":"function","z":"37cf056d.820faa","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["b2e6de0d.7eb63","179ce539.b2dedb"]]},{"id":"179ce539.b2dedb","type":"debug","z":"37cf056d.820faa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":360,"wires":[]},{"id":"b2e6de0d.7eb63","type":"http response","z":"37cf056d.820faa","name":"","statusCode":"","headers":{},"x":690,"y":280,"wires":[]},{"id":"4760a618.d89db8","type":"http in","z":"37cf056d.820faa","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":380,"wires":[["fc9959fb.aa8878","a80bf5a7.7c2d98"]]},{"id":"fc9959fb.aa8878","type":"function","z":"37cf056d.820faa","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["ec165390.7c4a9"]]},{"id":"a80bf5a7.7c2d98","type":"function","z":"37cf056d.820faa","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":440,"wires":[["b2e6de0d.7eb63","179ce539.b2dedb"]]}]